{% extends 'core/admin/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h4 class="display-4 text-success text-center">Login</h4>
            <hr>
            <form method="post" action="">
                {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" placeholder="User Name" name="username" class="form-control" required>
                    </div>
    
                    <div class="mb-3">
                        <input type="password" placeholder="Password" class="form-control" name="password" required>
                    </div>
    
                    <button type="submit" class="btn btn-success">sign in</button>
            </form>
            <hr>
        </div>
    </div>


    
</div>
<div class="row justify-content-center">

    <div class="col-md-6 my-5 d-flex gap-5 justify-content-center">
        <li class="text-success"><a class="mt-5" href="{% url 'Register' %}"><strong>I don't have an account?</strong></a></li>
        <li class="text-success"><a class="mt-5" href=""><strong>Login Problems</strong></a></li>
    </div>

</div>

...

</div>

{% endblock %}