{% extends 'core/admin/base.html' %}

{% block content %}
<div class="container p-5 d-block">
    <div class="row">
        <h3 class="text-success text-decoration-underline">"Your Profile"</h3>
    </div>

    <div class="row align-items-center d-flex gap-2 mt-3">

        <div class="col-md-4">
            <img src="{{profile.picture.url}}" class="rounded" alt="" style="width:280px; height: 280px;">
        </div>

        <div class="col-md-4 my-2 card shadow-sm  ps-4 pt-4 text-success">
            {% if profile.full_name %}
            <p class=""><i class="fa fa-user mx-2"></i><strong>Full Name: </strong>{{profile.full_name}}</p>
            {% else %}
            <p><i class="fas fa-user mx-2"></i><strong>Full Name:</strong> {{request.user.username}}</p>
            {% endif %}

            
            {% if profile.birth_date %}
            <p><strong><i class="fa fa-calendar-week mx-2"></i>Birth date: </strong>{{profile.birth_date}}</p>
            {% else %}
            <p><strong><i class="fa fa-calendar-week mx-2"></i>Birth Date: </strong></p>
            {% endif %}

            {% if profile.bio %}
            <p><i class="fa fa-calender mx-2"></i><strong>Personal Bio: </strong>{{profile.bio}}</p>
            {% else %}
            <p><strong><i class="fa fa-calendar-week mx-2"></i>Personal Bio: </strong></p>
            {% endif %}

            {% if profile.mobile %}
            <p><i class="fa fa-phone mx-2"></i><strong>Mobile number: </strong>{{profile.mobile}}</p>
            {% else %}
            <p><i class="fa fa-phone mx-2"></i><strong>Mobile number</strong></p>
            {% endif %}

            {% if profile.email %}
            <p><i class="fa fa-envelope mx-2"></i><strong>Email: </strong>{{profile.email}}</p>
            {% else %}
            <p><i class="fa fa-envelope mx-2"></i><strong>Email: </strong></p>
            {% endif %}

            {% if profile.location %}
            <p><i class="fas fa-compass mx-2"></i><strong>Location: </strong>{{profile.location}}</p>
            {% else %}
            <p><i class="fas fa-compass mx-2"></i><strong>Location: </strong></p>
            {% endif %}

            {% if profile.career_path %}
            <p><strong>Career Path: </strong>{{profile.career_path}}</p>
            {% else %}
            <p><strong></strong></p>
            {% endif %}

        </div>


    </div>
    <div class="row gap-2">
        <div class="col-md-4 card shadow-sm ps-4 pt-4 text-success">
            {% if profile.achievements %}
            <p><strong><i class="fas fa-trophy mx-2"></i>Trophies: </strong>{{profile.achievements}}</p>
            {% else %}
            <p><strong><i class="fas fa-trophy mx-2"></i>Trophies: </strong></p>
            {% endif %}

            {% if profile.certificates %}
            <p><strong><i class="fa fa-certificate mx-2"></i>Certificates: </strong>{{profile.certificates}}</p>
            {% else %}
            <p><strong><i class="fa fa-certificate mx-2"></i>Certificates: </strong></p>
            {% endif %}
        </div>
        <div class="col-md-4 card shadow-sm ps-4 pt-4 text-success">
            <div class="d-flex justify-content-between">
                <h2><strong>G.P.</strong></h2>
                <h2 class="mx-2">{{profile.grade_points}}</h2>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 card shadow-sm text-success ps-4 pt-4 ">
            <h5 class="border-bottom mb-4 text-center">Courses <i class="fa fa-book"></i></h5>
            {% if courses %}

                {% for course in courses %}
                <div class="d-flex justify-content-between mb-2 align-items-center">
                    <h5><i class="fa fa-arrow-right me-2"></i><a href="{% url 'CourseDetail' course.pk %}" class="text-decoration-none">{{course.title}}</a></h5>
                    <div class="d-flex pe-3 align-items-center">
                        |<a href="{% url 'DeleteCourse' course.pk %}"><i class="fa fa-trash mx-2"></i></a>
                        |<a href="{% url 'UpdateCourse' course.pk %}"><i class="fa fa-pencil mx-2"></i></a>|
                    </div>
                </div>
                {% endfor %}
                
                <div class="border-top">
                    <p class="text-center">Count: <strong>{{courses.count}}</strong></p>
                </div>

                {% else %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}