{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="header">
                <div>
                    <img src="{{curr_user.profile.image.url}}" alt="">
                </div>
                <h3>{{user.username}}</h3><hr>
            </div>

            <div class="body">
                <div>
                    <h4>{{user.email}}</h4>
                </div>
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{user_form|crispy}}
                    {{prof_form|crispy}}
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}