{% extends 'core/admin/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-6 align-items-lg-between">
            <h4 class="my-2 p-3" style="text-decoration: underline;">Write a note..</h4><hr class="">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-success">Write a note</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}