{% extends 'core/admin/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-6 ">
            <h4 class="my-2 p-3 display-4 text-success" >Write a note..</h4>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {% render_field form.title class='form-control mt-2' placeholder='Note Title...' %}
                {% render_field form.content class='form-control mt-2' placeholder='Note description...' %}
                <button type="submit" class="btn btn-success mt-3 me-auto">create <i class="fa fa-pencil mx-2"></i></button>
                <hr>
            </form>
        </div>
    </div>
</div>


{% endblock %}