{% extends 'core/admin/base.html' %}
{% load static %}

<div class="container">
    {% block content %}
        <div class="row mt-5  justify-content-center">
            <div class=" col-md-7 ">
                <h4 class=" text-center display-4 text-success">"{{note.title}}"</h4>
                <hr><span class='fw-bold'>{{note.created}}</span>
            </div>
        </div>
        <div class="row justify-content-center mt-3 p-3">
            <div class="col-lg-8">
                <p>{{note.content}}</p>
            </div>
        </div>

        <div class="row justify-content-end ">
            <div class="col-md-4 d-flex gap-2">
                <a href="{% url 'DeleteNote' note.id %}"><button name="delete" class="btn btn-outline-danger">Delete</button></a>
                <a href="{% url 'UpdateNote' note.id %}"><button name="update" class="btn btn-outline-success">Update</button></a>
            </div>
        </div>

    {% endblock %}
    
</div>