
{% extends 'core/admin/base.html' %}
{% load static %}
    <div class="container mt-5">
        <div class="row ">
            <div class="col-md-7">
                {% block content %}
                {% if notes %}

                    {% for note in notes %}
                    <div class="Notes container p-3 border-bottom">
                        <div class="OneNote">
                            <a class="text-decoration-none text-dark" href="{% url 'DetailNote' note.id %}"><h5 class="text-success">{{note.title}}</h5></a>
                        </div>
                        <div class="OneNoteIcons justify-content-end ms-auto">
                            <a href="{% url 'UpdateNote' note.pk %}"><i class="fa fa-pencil"></i></i></a>
                            <a href="{% url 'DeleteNote' note.pk %}"><i class="fa fa-trash"></i></a>
                        </div>
                        <hr>
                    </div>
                    
                    
                    {% endfor %}
                {% else %}
                <div class="col-lg-8 mt-2 m-auto alert alert-dismissible alert-info fade show">
                    <h3 class="display-6">This book has no notes in it</h3>
                    <button type="button"class="btn-close" data-bs-dismiss="alert" type="button" aria-label="close"></button>
                </div>
                {% endif %}
            </div>

        </div>


    </div>
{% endblock %}
