{% extends 'core/admin/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-6">
            <div class="d-flex justify-content-center gap-2 align-items-center my-2">
                <h4 class="display-4 text-success">Update Course </h4>
                <i class="fa fa-screwdriver-wrench text-success" style="font-size: 40px;"></i>
            </div>
            
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {% render_field form.title class='form-control mt-2' placeholder='Note Title' %}
                {% render_field form.description class='form-control mt-2' placeholder='Note description' %}
                <button type="submit" class="btn btn-success mt-3 me-auto">Save<i class="fa fa-save mx-2"></i></button>
                <hr>
            </form>
        </div>
    </div>
</div>

{% endblock %}